@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-outfit: var(--font-outfit);

  --color-base-100: #ffffff; /* lightest surface */
  --color-base-200: #84a37e; /* slightly dimmer */
  --color-base-300: #137300; /* dimmer still */
  --color-base-400: #003300; /* dimmest surface */
  --color-base-content: oklch(20% 0 0); /* text on base colors */

  --color-primary: #84a37e;
  --color-primary-content: #003300;
  --color-secondary: #fe9800;
}
